.container-fluid {
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    z-index: 999;
}


.navmargin {
    margin-top: 10vh !important;
}

/* PC */
@media screen and (min-width:927px) {

    .top {
        display: none;
    }

    .container-fluid {
        z-index: 9999 !important;
    }

    .z-99 {
        z-index: 99;
    }

    .header {
        z-index: 999;
    }

    input[type=checkbox] {
        display: none;
    }

    .logo {
        float: left;
        font-size: 1.2em;
        font-family: serif;
    }

    .flex-direction-menu {
        flex-direction: row;
    }

    #sidebarMenu {
        height: 100%;
    }

    .sidebarIconToggle {
        display: none;
    }

    .sidebarMenuInner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 !important;
    }

    .sidebarMenuInner li {
        z-index: 999;
        list-style: none;
    }

    .sidebarMenuInner li a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        transition: .3s color;
    }

    .sidebarMenuInner li a:hover {
        color: var(--primary-color);
    }

}

/* 携帯 */
@media screen and (max-width:927px) {

    .top {
        color: rgb(255, 255, 255);
        z-index: 99;
        position: fixed;
        left: 50%;
        top: 5vh;
        transform: translate(-50%, -50%);
        font-weight: 900;
        width: fit-content;
        margin: 0 auto;
        text-decoration: none;
        font-family: serif;
        font-size: 1.2em;
    }

    .logo {
        display: none;
    }

    #sidebarMenu {
        height: 100%;
        position: fixed;
        left: 0;
        margin-top: 10vh;
        transform: translateX(-100vw);
        transition: transform .25s ease-in-out;
        z-index: 9;
        display: flex;
        width: 100vw;
    }

    .hidden-nav-menu {
        width: 30vw;
    }

    .flex-direction-menu {
        flex-direction: column;
    }

    .sidebarMenuInner {
        width: 70vw;
        margin: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.491);
    }

    .sidebarMenuInner li {
        list-style: none;
        text-transform: uppercase;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.10);
    }

    .sidebarMenuInner li span {
        display: block;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.50);
    }

    .sidebarMenuInner li a {
        color: rgb(255, 255, 255);
        text-transform: uppercase;
        font-weight: bold;
        cursor: pointer;
        text-decoration: none;
    }

    .sidebarIconToggle {
        transition: all 0.3s;
        box-sizing: border-box;
        cursor: pointer;
        position: fixed;
        z-index: 999;
        height: 100%;
        width: 100%;
        top: 5vh;
        left: 15px;
        height: 22px;
        width: 22px;
        transform: translateY(-50%);
    }

    .spinner {
        transition: all 0.3s;
        box-sizing: border-box;
        position: absolute;
        height: 1px;
        width: 100%;
        margin-bottom: 2px;
        background-color: rgb(0, 0, 0);
    }

    .horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
        background: white;
    }

    .diagonal.part-1 {
        position: relative;
        transition: all 0.3s;
        box-sizing: border-box;
        float: left;
        background: white;
    }

    .diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        position: relative;
        float: left;
        margin-top: 3px;
        background: white;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.horizontal {
        transition: all 0.3s;
        box-sizing: border-box;
        opacity: 0;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-1 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(135deg);
        margin-top: 8px;
    }

    input[type=checkbox]:checked~.sidebarIconToggle>.diagonal.part-2 {
        transition: all 0.3s;
        box-sizing: border-box;
        transform: rotate(-135deg);
        margin-top: -9px;
    }


    input[type="checkbox"]:checked~#sidebarMenu {
        transform: translateX(0);
    }

    input[type=checkbox] {
        transition: all 0.3s;
        box-sizing: border-box;
        display: none;
    }
}